:root {
     --blanco: #ffffff ;
     --oscuro: #212121;
     --primario: #ffc107;
     --secundario: #0097a7;
     --gris: #757575;
     --grisClaro: #dfe9fe;
}
/* Tipografias */
h1, h2, h3 {
    text-align: center;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

/* Titulos */
.titulo span{
    font-size: 2rem;
    color: var(--primario);
}
.navegacion{
    background-color: var(--secundario);
    padding: 1rem;
}
.navegacion-principal{
    display: inline;
    flex-direction: column;
}
@media( min-width:480px){
    display: inline;
    flex-direction: row;
}

.navegacion-principal a{
    display: inline;
    text-align: center;
    color: var(--blanco);
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
.boton{
    background-color: var(--secundario) ;
    color: var(--blanco);
    padding: 1rem 3rem;
    border: none;
    text-align: center;
    border-radius: 5rem;

}
.contenedor{
    margin: 0 auto;
    max-width: 1200px;
}
@media (min-width:768px) {
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto 20rem;    
    column-gap: 1rem;
}
.fondo{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover ;
    height: 15rem;
    position: relative;
    margin-bottom: 0.1rem;
    background-color: rgb(red, green, blue);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}
.fondo2{
    background-repeat: no-repeat;
    background-size: cover ;
    height: 2rem;
    position: relative;
    margin-bottom: 0.1rem;
    background-color: rgb(red, green, blue);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}
/*Formulario*/
.formulario{
    background-color: var(--primario);
    width: min(60rem, 100rem);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width:768px) {
       .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
       }
       .campo:nth-child(3),
       .campo:nth-child(4){
        grid-column: 1/3;
       }
}
.campo {
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}
.input-text{
    width: 100%;
    border: none;
    padding: .1rem;
    border-radius: .5rem;
}
.campo textarea{
    height: 10rem;
   
}
/*Formacion Academica*/
@media (min-width: 768px ){
    .formacion{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;

    }
}
.escuela{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.escuela h4{
    color:  var(--secundario);
    font-weight: normal;
}
.escuela p{
    line-height: 2;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0 ;
}
/*Datos Personales*/
@media (min-width:768px){
    .datos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20rem;
    }
}
.datos2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.datos2 h4{
    color: var(--secundario);
    font-weight: normal;
    margin-bottom: 0.1rem;
}
.datos2 p{
    line-height: 2;
    text-align: center;
    margin-top: 0;
}
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: none;
    margin-bottom: 1rem;
}
